<h1>{{producto.title}}</h1>
<p>{{producto.description}}</p>
<p>Precio: ${{producto.price}}</p>
<p>Categoría: {{producto.category}}</p>
<p>Stock: {{producto.stock}}</p>
<button class="agregarCarrito" data-id="{{producto._id}}">Agregar al carrito</button>
<a href="/products">Volver a la lista de productos</a>
